
$topic_list: 'General', 'Bullying', 'Fighting', 'PII', 'Sexting', 'Vulgar', 'Drugs', 'InGame', 'Alarm', 'Fraud', 'Racist', 'Religion', 'Junk', 'Website', 'Grooming', 'Public Threats', 'Real Name', 'Terrorist Recruitment', 'Subversive', 'Sentiment', 'Politics', 'Unused 21, 'Unused 22, 'Unused 23, 'Unused 24, 'Unused 25, 'Unused 26, 'Custom1', 'Custom2', 'Custom3', 'Custom4', 'Custom5';

.sift-classification {
  margin-top: 10px;
}

@for $i from 0 to length($topic_list) {
  .sift-topic-#{$i} {
    
    &:before {
        content: nth($topic_list, $i+1);
    }
    
  }
}


.sift-classification-unit {
  background: #e6f2ff;

  padding: 1px 9px 2px;
  border: solid 1px grey;
  border-radius: 9px;

  font-size: 1.2em;
  font-weight: bold;
  line-height: 12px;
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #999999;
}

.sift-classification-unit+.sift-classification-unit {
  margin-left: 10px;
}

.sift-topic {
    
}


.sift-risk {
}

.sift-risk-0 {
  background: #35B536;
}

.sift-risk-1 {
  background: #468847;
}

.sift-risk-2 {
  background: #999999;
}

.sift-risk-3 {
  background: #f89406;
}

.sift-risk-4 {
  background: #1D8DC4;
}

.sift-risk-5 {
  background: #F74F07;
}

.sift-risk-6 {
  background: #D42D2A;
}

.sift-risk-7 {
  background: #b94a48;
}

